.wrap {
    background-color: honeydew;
    min-height: 100vh;
    margin: 1em;
}
.hiHeader {
    padding: 2em;
    background-color: darkslategray;
    margin: 2em;
    text-align: center;
    color: whitesmoke;
    height: 4vh;
}
.mainCode {
    min-height: 70vh;
    margin: 2em;
}
.divWithButtonCreateTask {
    margin: 3em;
}
.createTask {
    color: darkslategray;
}