.wrap {
    background-color: honeydew;
    min-height: 100vh;
    margin: 1em;
}
.hiHeader {
    padding: 2em;
    background-color: darkslategray;
    margin: 2em;
    text-align: center;
    color: whitesmoke;
    height: 4vh;
}
.mainCode {
    min-height: 70vh;
    margin: 2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.divWithSomeInfo , .divWithButtonGetTask,  #getTaskDiv  {
    margin: 3em;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    width: 20%;
    color: darkslategray;
    padding: 1em;
}
.createTask {
    color: darkslategray;
}
.apiTitle {
    justify-content: center;
    display: flex;
    background-color: darkslategray;
    color: white;
}
.getTask {
    width: 9em;
    margin: 0 auto;

}