.wrap {
    background-color: honeydew;
    min-height: 100vh;
    margin: 1em;
}
.hiHeader {
    padding: 2em;
    background-color: darkslategray;
    margin: 2em;
    text-align: center;
    color: whitesmoke;
    height: 4vh;
}
.mainCode {
    min-height: 70vh;
    margin: 2em;
    display: flex;
    justify-content: space-between;
}
.divWithButtonCreateTask , .divWithButtonGetTask , .divWithButtonDeleteTask  {
    margin: 3em;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
}
.createTask {
    color: darkslategray;
}